# This is a sample configuration file for lfacme.  It is a shell script,
# so you can include other files or call programs here if you like.


### ACME_URL: The URL of the ACME server.
# No default, you must set this.

# Let's Encrypt production:
#ACME_URL="https://acme-v02.api.letsencrypt.org/directory"

# Let's Encrypt staging:
#ACME_URL="https://acme-staging-v02.api.letsencrypt.org/directory"


### ACME_DATADIR: Runtime data directory.
# This is where the ACME account key and the issued certificates are stored.
# The default is /var/db/lfacme.

#ACME_DATADIR="/var/db/lfacme"


### ACME_HOOKDIR: The path to the directory containing certificate hooks.
# The default is "/usr/local/etc/lfacme/hooks".
# There is usually no need to change this.

#ACME_HOOKDIR="/some/directory"


### ACME_KERBEROS_PRINCIPAL: The Kerberos principal we use for nsupdate.
# The default is "host/$(hostname)", which assumes a default realm is
# configured in /etc/krb5.conf.

#ACME_KERBEROS_PRINCIPAL="host/server.example.org@EXAMPLE.ORG"
